In [4]:
#Q.1

#while loop is used to run a block of code until a certain condition is met

i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [5]:
# for loop executes block of  code  repeatedly for a paricular number of iterations

for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
#Q.2
n=int(input("n:"))
if n<0:
    print("invalid")
else:
    sum=0
    product=1
    for i in range(1,n+1):
        sum=sum+i
        product*=i

    print("sum=",sum) 
    print("product=",product)

n: 10

sum= 55
product= 3628800

In [ ]:
n=int(input("n:"))
sum=0
product=1
i=1
while(i<=n):
    sum=sum+i
    product*=i   
      
    i=i+1
      
print(sum) 
print(product)

In [41]:
#Q.3
def calculatebill(units):
    if(units<=100):
        return units*4.5
    elif(units<=200):
        return ((100*4.5)+(units-100)*6)
    elif(units<=300):
        return ((100*4.5)+(100*6)+(units-200)*10)
    else:
        return ((100*4.5)+(100*6)+(100*10)+(units-300)*20)

In [42]:
calculatebill(310)

2250.0

In [2]:
#Q.4
list=range(1,101)
res=[]
for i in list:
    res.append(i**3)
print(res)  
my_list=[i for i in res if i%4==0 or i%5==0]
print(my_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [5]:
l=[]
i=1
while i<=100:
    l.append(i*i*i)
    i+=1
print(l)    
my_list=[i for i in res if i%4==0 or i%5==0]
print(my_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [73]:
#Q.5
str="I want to become a data scientist"
count=0
vowel=set("aeiouAEIOU")
for alphabet in str:
    if alphabet in vowel:
        count=count+1
print(count)

12